
@media only screen and (max-width: 740px) {
  #wrapper {
    width: 100%;
  }

  header, main, aside, footer {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  #wrapper {
    width: 100%;
  }

  header, main, aside, footer {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #wrapper {
    width: 100%;
  }

  header, main, aside, footer {
    float: none;
    width: 100%;
  }

  h1, h2,h3 {
    text-align: center;
  }
}

