html, button, input, select, textarea {
  color: #444;
}

html {
  font-size: 1em;
  line-height: 1.4;
}
body {
  background-color: #f5f5dc ;
  margin: 0;
  font-family: Arial, sans-serif;
}

#wrapper {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
header h1 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #333;
  margin: 0;
}
header {
  background: #fff; 
  padding: 20px;  
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}


header img {
  float: right;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 150px;
  height: 150px;
  object-fit: cover;
}
section {
  margin-bottom: 20px;
}
 section h2 {
  font-family: 'Roboto', sans-serif;
  color: #222;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
section p, section li {
  color: #444;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
a {
  color: #3366cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.github-link i {
  font-size: 1em;       
  vertical-align: middle; 
  margin-right: 5px;     
  font-weight: normal;   
  color: inherit;       
}

